.quizbody {
  display: flex;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.quiz {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  background: rgba(0, 0, 64, 0.6);
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.timer {
  display: flex;
  justify-content: center;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
